/* Carousel Feedback*/

.quote-carousel {
    padding: 0 1rem 3rem 1rem;
    margin-top: 30px;
    /* Control buttons  */
    /* Previous button  */
    /* Next button  */
    /* Changes the position of the indicators */
    /* Changes the color of the indicators */
}
.quote-carousel .carousel-control {
    background: none;
    color: #CACACA;
    font-size: 2.3rem;
    text-shadow: none;
    margin-top: 3rem;
}
.quote-carousel .carousel-control.left {
    left: -6rem;
}
.quote-carousel .carousel-control.right {
    right: -6rem;
}
.quote-carousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0rem;
    margin-right: -19px;
}
.quote-carousel .carousel-indicators li {
    width: 5rem;
    height: 5rem;
    margin: 0.5rem;
    cursor: pointer;
    border: 0.4rem solid #CCC;
    border-radius: 5rem;
    opacity: 0.4;
    overflow: hidden;
    transition: all 0.4s;
}
.quote-carousel .carousel-indicators .active {
    background: #333333;
    width: 12.8rem;
    height: 12.8rem;
    border-radius: 10rem;
    border-color: #f33;
    opacity: 1;
    overflow: hidden;
}
.carousel-inner {
    min-height: 25rem;
    margin-bottom: 14.5rem;
}
.item blockquote {
    border-left: none;
    margin: 0;
}
.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 1rem;
}
