// Global Colours
$green: #3a9c61;
$greenShade: #296e44;
$greenTint: #75ba90;
$greenPastel: #d8ebdf;
$dark: #241e18;
$darkShade: #191511;
$darkTint: #65615d;
$darkPastel: #d3d2d1;
$yellow: #e98e19;
$yellowShade: #a46412;
$yellowTint: #f0b05e;
$yellowPastel: #fbe8d1;
$gray: #f2f0e9;
$grayShade: #c2c0ba;
$grayTint: #f6f4f0;
$grayPastel: #f8f7f4;
// Corporate Colours
$primary: $green;
$secondary: $dark;
// Other
$background: $gray;
// Size Desctop
$mainContainer: 140rem;
$containerHorIndent: 11.5rem;
$containerVerIndent: 10rem;

// Size Mobile
// --------------------------------------------------
$containerHorIndentMobile: 1%;
$containerVerIndentMobile: 2rem;
