@import "core";
.box{
  max-width: $mainContainer;
  padding-left: $containerHorIndent;
  padding-right: $containerHorIndent;
  margin: 0 auto;
}
.firstImpr {
  background: url("../img/BG.jpg") no-repeat center center;
  background-size: cover;


}
.job{
  color: $green;
  padding-top: 50px;
  p{
  font-size: 1.2rem;
 }
}
.moto{
  color: $gray;
line-height: 1.4;
    margin-top: 5.1rem;
margin-bottom: 6.1rem;

}
.first-action{
  padding-top: 10.1rem;
  padding-bottom: 14.1rem;
  margin: 0 auto;
  text-align: center;
}
.services{
  h2{
    margin-top: 10rem;
    margin-bottom: 3.4rem;
  }
  h3{
    margin: 3.6rem 0;
  }
  .ad-moto{
      color: $green;
      font-size: 1.2rem;
      margin-bottom: 10rem;
  }
}
.learnMore{
  margin: 0 auto;
  text-align: center;
}
